{% extends "includes/base.html" %}
{% block title %}Personalized Panchang Predition{% endblock %}
{% block content %}
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex flex-col lg:flex-row gap-4 h-auto items-center justify-center p-4">
            <section class="py-16">
                <div class="container mx-auto px-6 space-y-8 lg:px-20">
                    <h2 class="text-4xl text-center font-bold  text-white">✨Today Panchang Prediction ✨</h2>
                   
                    <p class="text-lg text-center text-gray-300 mt-4">
                        Discover your strengths, weaknesses, and life path through accurate panchang analysis! 🔮🔍
                        Align your energy for success, love, and prosperity. 💖🌟
                    </p>

                    <div class="max-w-3xl mx-auto rounded-xl shadow-lg p-8">
                        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-4">
                            <div
                                class="dark:bg-gray-700 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105">
                                <h3>Panchang For {{ panchang.date }}</h3>
                                <dl class="mt-4 w-full text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Tithi</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.tithi }}</dd>
                                    </div>
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Nakshatra</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.nakshatra }}</dd>
                                    </div>
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Yoga</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.yoga }}</dd>
                                    </div>
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Karana</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.karana }}</dd>
                                    </div>
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Vara</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.vara }}</dd>
                                    </div>
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Sunrise</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.sunrise }}</dd>
                                    </div>
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">sunset</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.sunset }}</dd>
                                    </div>
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Rahu kaal</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.rahu_kaal }}</dd>
                                    </div>
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Gulika kaal</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.gulika_kaal }}</dd>
                                    </div>
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Yamaganda</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.yamaganda }}</dd>
                                    </div>
                                    <div class="flex flex-col pb-3">
                                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Abhijit Muhurat</dt>
                                        <dd class="text-lg font-semibold">{{ panchang.abhijit_muhurat }}</dd>
                                    </div>
                                </dl>
                            </div>
                        </div>          
                    </div>
                </div>
            </section>
        </div>
</div>
{% endblock %}

