{% extends "includes/base.html" %}
{% block title %}Personalized Panchang Predition{% endblock %}
{% block content %}

{% if not is_report_generate %}
<div class="mx-auto max-w-7xl px-2 py-10 sm:px-6 lg:px-8">

    <div class="relative flex flex-col gap-4 h-auto">
        <div class="container mx-auto px-6 py-6 lg:px-20 text-center">
            <h2 class="text-4xl font-bold text-gray-800 dark:text-white">🔮 Find Your Panchang Predition ❤️
            </h2>
            <p class="text-lg text-gray-600 dark:text-gray-300 mt-4">
                Discover your strengths, weaknesses, and life path through accurate panchang analysis! 🔮🔍
                Align your energy for success, love, and prosperity. 💖🌟
            </p>
        </div>

        <div class="flex flex-row items-center gap-0 justify-center p-4">
            <div class="w-full lg:w-6/12 p-8">
                <div class="relative flex flex-col min-w-0 break-words w-full mb-6  border-0">
                    <div class="flex-auto p-4 lg:px-10 py-10 pt-0">
                        <div class="text-slate-400 text-center mb-3 p-4 mt-4 font-bold">
                            <img src="/static/images/panchang-predition.png"
                                class="border border-gray-200 shadow-lg shadow-blue-100 hover:shadow-lg hover:shadow-blue-500  rounded-lg shadow-sm" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-6/12 p-10 mb-5">
                <div class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg bg-slate-200 rounded-lg">
                    <div class="p-8">
                        <h2 class="text-4xl font-bold text-gray-800 dark:text-white">Enter Your Details</h2>
                    </div>
                    <div class="flex-auto p-4  mb-4 lg:px-10 py-12">
                        {% include 'panchang/panchang_form.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% include 'panchang/detail_board.html' %}
{% endif %}
{% endblock %}