{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Page{% endblock %} - {{ APP_NAME }}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" nonce="{{ nonce }}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" nonce="{{ nonce }}">
    <link href="{% static 'fontawesomefree/css/all.css' %}" rel="stylesheet" type="text/css" nonce="{{ nonce }}">

</head>

<body class="min-h-screen">

    {% include 'admin_panel/sidebar.html' %}
    
    <div class="relative md:ml-64 bg-slate-100">

        {% include 'admin_panel/navbar.html' %}
        {% include 'admin_panel/header.html' %}
        
        <div class="bg-gray-100 px-4 md:px-10 mx-auto w-full -m-24">
            <!-- Main content -->
            <main class="flex-grow relative">
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </main>
            {% include 'admin_panel/footer.html' %}
        </div>
    
    </div>

    <!-- Scripts -->     
    <script src="{% static 'js/jquery.min.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'js/parsley.min.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'js/validation.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'js/main.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'js/chart.min.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"  nonce="{{ nonce }}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"  nonce="{{ nonce }}"></script>
    {% block script %}{% endblock %}
</body>
</html>