
<div class="w-full z-10 h-auto grid grid-cols-1 lg:grid-cols-3 gap-8 py-8 mb-24">
    {% for item in data %}
    <div class="w-96 h-auto bg-card shadow-lg shadow-blue-100 hover:shadow-lg hover:shadow-blue-500 rounded-lg">
        <a href="{% url item.url %}">
            <img class="rounded-t-lg p-4 w-full" src="{{item.image}}" alt="kundali generate" />
        </a>
        <div class="p-4">
            <h5 class="mb-3 text-x l font-semibold tracking-tight text-white dark:text-white">{{ item.title}}</h5>
            <p class="mb-5 font-normal text-gray-500 dark:text-gray-400">{{item.description}}</p>
            <a href="{% url item.url %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 hover:bg-gray-800 cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg ">
                {{item.button_text}}
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
    {% endfor %}
</div>