<div class="relative w-full mb-5">
    <label class="block uppercase text-slate-600 text-xs font-bold mb-2" for="username">
        Username 
        <sup class="text-red-500">*</sup>
    </label>
    <input type="text" 
        id="username" 
        value="{{value}}"
        name="username"
        placeholder="Your Account Email" 
        required data-parsley-customemail
        data-parsley-trigger="keyup" 
        data-parsley-required-message="Email is required."
        data-parsley-customemail-message="Please enter a valid email."
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" />

    {% if form.errors.username %}
        <p class="text-sm text-red-600 mt-1">{{ form.errors.username.0 }}</p>
    {% endif %}
</div>