{% include 'fields/full_name.html' with label='Boy Full Name' name='boy_full_name' %}

<div class="grid grid-cols-1 gap-2 md:grid-cols-1 lg:grid-cols-1">
    <label for="boy_birth_date" class="block mb-2 text-sm font-medium text-gray-900">Date of Birth<sup
            class="text-red-500">*</sup></label>

    <div class="grid grid-cols-3 gap-2">

        {% include "fields/birth_select.html" with label='Day' name='boy_days' item=days type='day' %}
        {% include "fields/birth_select.html" with label='Month' name='boy_months' item=months type='month' %}
        {% include "fields/birth_select.html" with label='Year' name='boy_years' item=years type='year' %}
    
    </div>
</div>


<label for="boy_birth_time" class="block mb-2 text-sm font-medium text-gray-900">Birth Time<sup
        class="text-red-500">*</sup></label>
<div class="grid grid-cols-2 lg:grid-cols-4  gap-2">
    
    {% include "fields/birth_select.html" with label='Hours' name='boy_hours' item=hours type='day' %}
    {% include "fields/birth_select.html" with label='Minutes' name='boy_minutes' item=minutes type='day' %}
    {% include "fields/birth_select.html" with label='Seconds' name='boy_seconds' item=minutes type='day' %}
    {% include "fields/birth_select.html" with label='Time Format' name='boy_time_type' item=time_format type='day' %}
</div>

{% include "fields/latlon.html" with name='boy_latitude' %}
{% include "fields/latlon.html" with name='boy_longitude' %}

<div class="grid grid-cols-1">
    {% include "fields/place.html" with label='Boy Birth Place' name='boy_place' %}
</div>
<div id="boy_suggestionsModal"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50 backdrop-blur-sm">
    <div class="bg-white w-full max-w-lg p-6 rounded-lg shadow-xl relative max-h-[80vh] overflow-y-auto">
        <!-- Modal Header -->
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-bold text-gray-400">Select Birth Place</h2>
            <button onclick="closeModal('boy')" class="text-gray-600 text-2xl leading-none">&times;</button>
        </div>

        <div id="boy_suggestions" class="space-y-2 text-gray-600">

        </div>
    </div>
</div>
