{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}Analytics Dashboard - Astro Admin Panel{% endblock %}

{% block content %}
<div class="min-h-screen w-full mx-auto p-2">
    
    <!-- Header -->
    <div class="mb-6">
        <h2 class="text-2xl font-semibold text-white">Analytics Dashboard</h2>
        <p class="text-sm text-gray-100">Overview of {{APP_NAME}}'s performance and metrics</p>
    </div>

    <!-- Stats Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
        <!-- Users Stats -->
        <div class="bg-white rounded-lg shadow-md p-6">
            
            <div class="flex items-center justify-between">
                <div>
                    <p class="text-sm font-medium text-gray-500">Total Users</p>
                    <p class="text-2xl font-semibold text-gray-800">{{ total_users }}</p>
                </div>
                <div class="p-3 bg-blue-100 rounded-full">
                    <i class="fas fa-users text-blue-600"></i>
                </div>
            </div>

            <div class="mt-4">
                <p class="text-sm text-gray-500">Active Users: {{ active_users }}</p>
                <p class="text-sm text-gray-500">New Users in last 30 days : {{ new_users_monthly }}</p>
            </div>
            
        </div>

        <!-- Subscriptions Stats -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center justify-between">
                <div>
                    <p class="text-sm font-medium text-gray-500">Total Subscriptions</p>
                    <p class="text-2xl font-semibold text-gray-800">{{ total_subscriptions }}</p>
                </div>
                <div class="p-3 bg-green-100 rounded-full">
                    <i class="fas fa-credit-card text-green-600"></i>
                </div>
            </div>
            <div class="mt-4">
                <p class="text-sm text-gray-500">Active Subscriptions: {{ active_subscriptions }}</p>
                <p class="text-sm text-gray-500">Trial Subscriptions: {{ trial_subscriptions }}</p>
            </div>
        </div>

        <!-- Kundli Stats -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center justify-between">
                <div>
                    <p class="text-sm font-medium text-gray-500">Total Kundli Reports</p>
                    <p class="text-2xl font-semibold text-gray-800">{{ total_kundli_reports }}</p>
                </div>
                <div class="p-3 bg-purple-100 rounded-full">
                    <i class="fas fa-moon text-purple-600"></i>
                </div>
            </div>
            <div class="mt-4">
                <p class="text-sm text-gray-500">Total Premium Kundli: {{ total_premium }}</p>
                <p class="text-sm text-gray-500">Premium kundli in last month: {{ monthlty_premium }}</p>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center justify-between">
                <div>
                    <p class="text-sm font-medium text-gray-500">Total Revenue</p>
                    <p class="text-2xl font-semibold text-gray-800">₹ {{ total_revenue }}</p>
                </div>
                <div class="p-3 bg-blue-100 rounded-full">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </div>
            </div>
            <div class="mt-4">
                <p class="text-sm text-gray-500">Revenue in last month: ₹ {{ monthly_revenue }}</p>
                <p class="text-sm text-gray-500">Revenue in last year: ₹ {{ yearly_revenue }}</p>
            </div>
        </div>
    </div>

    <!-- Charts -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-8">
        <!-- User Growth Chart -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <h3 class="text-lg font-medium text-gray-800 mb-4">User Growth</h3>
            <canvas id="userGrowthChart"></canvas>
        </div>

        <!-- Revenue Chart -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <h3 class="text-lg font-medium text-gray-800 mb-4">Revenue Trend</h3>
            <canvas id="revenueChart"></canvas>
        </div>

        <!-- Kundli Reports Chart -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <h3 class="text-lg font-medium text-gray-800 mb-4">Kundli Reports</h3>
            <canvas id="kundliReportsChart"></canvas>
        </div>

        <!-- Subscription Performance Chart -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <h3 class="text-lg font-medium text-gray-800 mb-4">Subscriptions Trend</h3>
            <canvas id="subscriptionsChart"></canvas>
        </div>
    </div>
</div>

{{ chart_data|json_script:"chart-data" }}

{% endblock %}


{% block script %}
<script src="{% static 'js/dashboard.js' %}" nonce="{{ nonce }}"></script>
{% endblock %} 

