{% load custom_filters %}
<div class="mx-auto max-w-7xl px-10 py-16">
    <div class="relative flex py-4 flex-col gap-4 h-auto mb-5">
        <div class="text-center mb-8">
            <div class="bg-gradient-to-r from-purple-600 to-indigo-600 rounded-2xl shadow-xl p-8">
                <h2 class="text-4xl font-bold text-white mb-3">✨ Your Personalized Personality Number Prediction ✨</h2>
            </div>
        </div>

        <div
            class="predition-card rounded-2xl shadow-lg p-8 border border-gray-100 flex flex-col items-center justify-center px-8 py-6  space-y-4">
            <h2 class="text-3xl font-extrabold text-gray-300 mb-2">✨Your Personality Number is {{ data.personality_number }}✨</h2>
            <p class="text-md text-center text-gray-500">
                Discover the hidden meanings behind your personality numbers and how they influence your personality and destiny.
                Explore your strengths, challenges, to balance your life.
            </p>

            <div class="grid grid-cols-1 space-y-2 gap-6 w-full max-w-3xl">
                {% for num_key, num_value in data.personality_number_description.items %}
                    <div
                        class="flex flex-row gap-4 p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105">
                        <div class="flex flex-col justify-center space-y-2">
                            <p class="text-sm text-gray-500 dark:text-gray-400">
                                <strong>{{num_key|capfirst}}:</strong> {{ num_value|capfirst }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>