{% load custom_filters %}
<div class="mx-auto max-w-7xl px-10">
    <div class="relative flex py-4 flex-col gap-4 h-auto mb-5">
        <div class="container mx-auto px-6 py-6 lg:px-20 text-center">
            <h2 class="text-2xl font-bold text-gray-800 dark:text-white">Hii {{ data.name }}, Your Driver and Condutor Predition
                Here ❤️</h2>
        </div>

        <div
            class="flex flex-col items-center justify-center px-8 py-6 bg-gray-100 dark:bg-gray-900 rounded-lg shadow-lg space-y-4">
            <h2 class="text-3xl font-extrabold text-gray-800 dark:text-white mb-2">✨Your Driver Number is {{ data.driver }}✨</h2>
            <p class="text-md text-center text-gray-600 dark:text-gray-300">
                Discover the hidden meanings behind your driver numbers and how they influence your personality and destiny.
                Explore your strengths, challenges, to balance your life.
            </p>

            <div class="grid grid-cols-1 space-y-2 gap-6 w-full max-w-3xl">
                {% for num_key, num_value in data.driver_description.items %}
                    <div
                        class="flex flex-row gap-4 p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105">
                        <div class="flex flex-col justify-center space-y-2">
                            <p class="text-sm text-gray-500 dark:text-gray-400 italic">
                                <strong>{{num_key}}:</strong> {{ num_value }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div
            class="flex flex-col items-center justify-center px-8 py-6 bg-gray-100 dark:bg-gray-900 rounded-lg shadow-lg space-y-4">
            <h2 class="text-3xl font-extrabold text-gray-800 dark:text-white mb-2">✨Your Condutor Number is {{ data.conductor }}✨
            </h2>
            <p class="text-md text-center text-gray-600 dark:text-gray-300">
                Discover the hidden meanings behind your condutor numbers and how they influence your personality and destiny.
                Explore your strengths, challenges, to balance your life.
            </p>

            <div class="grid grid-cols-1 space-y-2 gap-6 w-full max-w-3xl">
                {% for num_key, num_value in data.conductor_description.items %}
                <div
                    class="flex flex-row gap-4 p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105">
                    <div class="flex flex-col justify-center space-y-2">
                        <p class="text-sm text-gray-500 dark:text-gray-400 italic">
                            <strong>{{num_key}}:</strong> {{ num_value }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div
            class="flex flex-col items-center justify-center px-8 py-6 bg-gray-100 dark:bg-gray-900 rounded-lg shadow-lg space-y-4">
            <h2 class="text-3xl font-extrabold text-gray-800 dark:text-white mb-2">✨Pair of Driver & Condutor Number is {{ data.driver }} & {{ data.conductor }}✨
            </h2>
            <p class="text-md text-center text-gray-600 dark:text-gray-300">
                Discover the hidden meanings behind pair of driver and condutor number and how they influence your personality and destiny.
                Explore your strengths, challenges, to balance your life.
            </p>
        
            <div class="grid grid-cols-1 space-y-2 gap-6 w-full max-w-3xl">
                
                <div
                    class="flex flex-row gap-4 p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105">
                    <div class="flex flex-col justify-center space-y-2">
                        <p class="text-sm text-gray-500 dark:text-gray-400 italic">
                            <strong>Combination Impact on your life:</strong> {{ data.pair_description }}
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>