{% extends "includes/base.html" %}
{% block title %} {{plan.name}} - Subscription | Checkout {% endblock %}
{% block content %}
<main>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex flex-col lg:flex-row gap-4 h-auto items-center justify-between p-4">
            <section class="py-8 space-y-4 antialiased dark:bg-gray-900 md:py-16">
                <ol
                    class="items-center flex justify-center w-full gap-4 max-w-2xl text-center text-md font-medium text-gray-500 dark:text-gray-400 sm:text-base">
                    <li
                        class="after:border-1 flex items-center text-primary-700 after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-gray-200 dark:text-primary-500 dark:after:border-gray-700 sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10">
                        <span
                            class="flex items-center after:mx-2 after:text-gray-200 after:content-['/'] dark:after:text-gray-500 sm:after:hidden">
                            <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            Checkout
                        </span>
                    </li>
                
                    <li class="flex shrink-0 items-center">
                        <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Order summary
                    </li>
                </ol>
             
                <form id="checkout_form" action="{% url 'subscription.checkout' plan.slug %}" method="POST" class="mx-auto max-w-screen-xl px-4 2xl:px-0">
                    {% csrf_token %}
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                        <div class="w-full space-y-4">
                            <div
                                class="relative rounded-3xl shadow-lg shadow-blue-100 hover:shadow-lg hover:shadow-blue-500 bg-gray-900 p-8 ring-1 shadow-2xl ring-gray-900/10 sm:p-10">
                                <h3 id="tier-enterprise" class="text-base/7 font-semibold text-indigo-400">Product Information ({{ plan.name }})</h3>
                                <p class="mt-4 flex items-baseline gap-x-2">
                                    <span class="text-5xl font-semibold tracking-tight text-white">₹{{ plan.price }}</span>
                                    <span class="text-base text-gray-400">/{{ plan.duration_days }} days</span>
                                </p>
                                <p class="mt-6 text-base/7 text-gray-300">{{plan.description}}</p>
                                <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-300 sm:mt-10">
                                    {% for feature in plan.features.all %}
                                    <li class="flex gap-x-3">
                                        <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                                            data-slot="icon">
                                            <path fill-rule="evenodd"
                                                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        {{feature.name}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="w-full  space-y-4">
                            <div class="flow-root relative space-y-4 rounded-3xl shadow-lg shadow-blue-100 hover:shadow-lg hover:shadow-blue-500 bg-gray-900 p-8 ring-1 shadow-2xl ring-gray-900/10 sm:p-10">
                                <h3 id="tier-enterprise" class="text-base/7 font-semibold text-indigo-400">Billing Information</h3>

                                {% include 'fields/full_name.html' with label='Your name' name='name' %}
                                {% include 'fields/email_field.html' with label='Your email' name='email' %}
                            
                                <div>
                                    <div class="mb-2 flex items-center gap-2">
                                        <label for="select-country" class="block text-base/7 text-gray-300">Country<sup class="text-red-500">*</sup>{% if form.errors.country %}<span class="text-red-500">{{form.errors.country }}</span>{% endif %} </label>
                                    </div>
                                    <select id="select-country" name="country" data-parsley-required-message="Please select valid country." required
                                        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
                                        <option selected>Select your country</option>
                                        {% for code, country in countries.items %}
                                        <option value="{{ code }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <div class="mb-2 flex items-center gap-2">
                                        <label for="select-state" class="block text-base/7 text-gray-300">State<sup class="text-red-500">*</sup>{% if form.errors.state %}<span class="text-red-500">{{form.errors.state }}</span>{% endif %} </label>
                                    </div>
                                    <select id="select-state" name="state" data-parsley-required-message="Please select valid state." required
                                        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
                                        <option selected>Select your state</option>          
                                    </select>
                                </div>
                                <div>
                                    <div class="mb-2 flex items-center gap-2">
                                        <label for="select-city" class="block text-base/7 text-gray-300">City<sup class="text-red-500">*</sup>{% if form.errors.city %}<span class="text-red-500">{{form.errors.city}}</span>{% endif %} </label>
                                    </div>
                                    <select id="select-city" name="city" required data-parsley-required-message="Please select valid city." class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
                                        <option selected>Select your city</option>
                                    </select>
                                </div>
                        
                                <div>
                                    <label for="phone-input-3" class="mb-2 block text-base/7 text-gray-300">Phone Number<sup class="text-red-500">*</sup>{% if form.errors.phone_number %}<span class="text-red-500">{{form.errors.phone_number}}</span>{% endif%}</label>
                                    <div class="flex items-center">
                                        <div class="relative w-48">
                                            <select name="phone_code" required data-parsley-required-message="Please select valid code." class="block w-full rounded-e-lg border border-s-0 border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:border-s-gray-700  dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500" name="phone_code" id="phone_code">
                                                {% for country in countries %}
                                                    <option value="{{country.phonecode}}">{{country.emoji}} ( +{{country.phonecode}})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="relative w-full">
                                            <input type="text" name="phone_number" id="phone-input"
                                                data-parsley-phone
                                                data-parsley-required-message="phone number is required."
                                                class="z-20 block w-full rounded-e-lg border border-s-0 border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:border-s-gray-700  dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500"
                                                placeholder="1234567890" 
                                                required 
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full space-y-4">
                            <div class="space-y-4 flow-root relative rounded-3xl shadow-lg shadow-blue-100 hover:shadow-lg hover:shadow-blue-500 bg-gray-900 p-8 ring-1 shadow-2xl ring-gray-900/10 sm:p-10">
                                <h3 id="tier-enterprise" class="text-base/7 font-semibold text-indigo-400">Payment Information</h3>

                                <div class="-my-3 divide-y divide-gray-200 dark:divide-gray-800">
                                    <dl class="flex items-center justify-between gap-4 py-3">
                                        <dt class="text-sm/6 text-gray-300">Item Price</dt>
                                        <dd class="text-sm/6 text-gray-300">₹{{ plan.price }}</dd>
                                    </dl>
                                    <dl class="flex items-center justify-between gap-4 py-3">
                                        <dt class="text-sm/6 text-gray-300">Item Qty</dt>
                                        <dd class="text-sm/6 text-gray-300">1</dd>
                                    </dl>
                                    <dl class="flex items-center justify-between gap-4 py-3">
                                        <dt class="text-sm/6 text-gray-300">Subtotal</dt>
                                        <dd class="text-sm/6 text-gray-300">₹{{ plan.price }}</dd>
                                    </dl>
                        
                                    <dl class="flex items-center justify-between gap-4 py-3">
                                        <dt class="text-sm/6 text-gray-300">GST 18%</dt>
                                        <dd class="text-sm/6 text-gray-300">₹{{ plan.gst }}</dd>
                                    </dl>
                        
                                    <dl class="flex items-center justify-between gap-4 py-3">
                                        <dt class="text-sm/6 text-gray-300">Total</dt>
                                        <dd class="text-sm/6 text-gray-300">₹{{ plan.total }}</dd>
                                    </dl>

                                </div>

                                {% if show_captcha %}
                                    <div class="relative w-full mb-3">
                                        {% include 'includes/captcha_custom.html' %}
                                    </div>
                                {% endif %}

                                <p class="text-sm/6 text-gray-300 mt-2">
                                    <strong>Note<span class="text-red-500"><sup>*</sup></span>:-</strong> <br> Once a subscription is purchased, it cannot be
                                        cancelled or refunded. Please review your plan before proceeding.
                                </p>
                                
                                <input type="submit" name="submit" value="Pay and Confirm Order" class="cursor-pointer mt-8 block rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 sm:mt-10"/>
                  
                            </div>
                    
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
{% endblock %}