<footer class="bg-hcolor shadow-lg shadow-[bg-hcolor] text-white w-full px-6 py-12 space-y-6 mt-auto border-t border-white/10">
 
  <div class="mx-auto px-4 sm:px-6 lg:px-8  py-12 flex flex-col lg:flex-row justify-between items-start gap-12 text-sm">
      <!-- Company -->
      <div class="px-12">
        <h3 class="text-lg font-semibold mb-4">{{ APP_NAME }}</h3>
        <p class="text-gray-400 mb-4">Your trusted guide for personalized astrology, Kundli analysis, daily horoscopes, and
          Vedic insights.</p>
        <div class="flex space-x-4 mt-2">
          {% for icon in social_icons %}
            <a href="#" class="text-gray-400 hover:text-white transition duration-300">
              <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="10" />
              </svg>
            </a>
          {% endfor %}
        </div>
      </div>
      
      <!-- Solutions -->
      <div class="px-12">
        <h3 class="text-lg font-semibold mb-4">Services</h3>
        <div class="flex flex-row gap-4">
          <ul class="space-y-2 text-gray-400">
            <li><a href="{% url 'kundli.premium_anaysis' %}" class="hover:text-white transition duration-300">Premium Kundli Report</a></li>
            <li><a href="{% url 'dasha.index' %}" class="hover:text-white transition duration-300">Dasha & Antardasha</a></li>
            <li><a href="{% url 'panchang.index' %}" class="hover:text-white transition duration-300">Panchang</a></li>
            <li><a href="{% url 'matching.index' %}" class="hover:text-white transition duration-300">Kundli Matching</a></li>
            <li><a href="{% url 'horoscope.daily_horoscope' %}" class="hover:text-white transition duration-300">Daily Horoscope</a></li>
            <li><a href="{% url 'horoscope.weekly_horoscope' %}" class="hover:text-white transition duration-300">Weekly Horoscope</a></li>
            <li><a href="#" class="hover:text-white transition duration-300">Monthly Horoscope</a></li>
          </ul>
      
          <ul class="space-y-2 text-gray-400">
            <li><a href="{% url 'numerology.driver_conductor.index' %}" class="hover:text-white transition duration-300">Driver And Conductor</a></li>
            <li><a href="{% url 'numerology.name_number.index' %}" class="hover:text-white transition duration-300">Name Number</a></li>
            <li><a href="{% url 'numerology.life_path_number.index' %}" class="hover:text-white transition duration-300">Life Path Number</a></li>
            <li><a href="{% url 'numerology.destiny_number.index' %}" class="hover:text-white transition duration-300">Destiny Number</a></li>
            <li><a href="{% url 'numerology.personality_number.index' %}" class="hover:text-white transition duration-300">Personality Number</a></li>
            <li><a href="{% url 'numerology.angel_number.index' %}" class="hover:text-white transition duration-300">Angel Numbers</a></li>
            <li><a href="{% url 'loshugrid.index' %}" class="hover:text-white transition duration-300">Lo Shu Grid</a></li>
          </ul>
        </div>
      </div>
      
      <div class="px-12">
        <h3 class="text-lg font-semibold mb-4">Support</h3>
        <ul class="space-y-2 text-gray-400">
          <li><a href="{% url 'home.contactus' %}" class="hover:text-white transition duration-300">Contact Us</a></li>
          <li><a href="{% url 'home.faqs' %}" class="hover:text-white transition duration-300">Faqs</a></li>
          <li><a href="{% url 'home.jobs' %}" class="hover:text-white transition duration-300">Carrer</a></li>
          <li><a href="{% url 'home.blog' %}" class="hover:text-white transition duration-300">Blogs</a></li>
          <li><a href="{% url 'home.about' %}" class="hover:text-white transition duration-300">About us</a></li>
        </ul>
      </div>
      
      <!-- Legal -->
      <div class="px-12">
        <h3 class="text-lg font-semibold mb-4">Legal</h3>
        <ul class="space-y-2 text-gray-400">
          <li><a href="{% url 'terms_and_conditions' %}" class="hover:text-white transition duration-300">Terms of service</a></li>
          <li><a href="{% url 'privacy_policy' %}" class="hover:text-white transition duration-300">Privacy policy</a></li>
        </ul>
      </div>
  </div>

  <p class="mt-12 text-center text-sm text-gray-400">© {{ year }} amaraiverse.com, Inc. All rights reserved.</p>
</footer>
