{% extends "includes/base.html" %}
{% block title %}Your Personalized Today and Weekly Horoscope Predition{% endblock %}
{% block content %}

<div class="mx-auto max-w-7xl px-2 py-10 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-7xl px-6 py-8">

        <div class="text-center mb-8">
            <div class="bg-gradient-to-r from-purple-600 to-indigo-600 rounded-2xl shadow-xl p-8">
                <h2 class="text-4xl font-bold text-white mb-3">✨ Your Personalized Horoscope Prediction ✨</h2>
            </div>
        </div>

        <div class="predition-card rounded-2xl shadow-lg p-8 border border-gray-100 max-w-3xl mx-auto p-8">
            <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-4">
                <div
                    class="p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105">
                    <h3 class="text-gray-300">Today Horoscope</h3>
                    <dl class="mt-4 w-full text-gray-500 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
                        <div class="flex flex-col pb-3">
                            <dt class="mb-1  md:text-lg">{{ daily_horoscope.sign }}</dt>
                            <dd class="text-lg font-semibold">{{ daily_horoscope.prediction }}</dd>
                        </div>
                        
                    </dl>
                </div>
                
                <div
                    class="p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105">
                    <h3 class="text-gray-300">Weekly Horoscope</h3>
                    <dl class="mt-4 w-full text-gray-400 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
                        <div class="flex flex-col pb-3">
                            <dt class="mb-1 text-gray-500">{{ weekly_horoscope.sign }}</dt>
                            <dd class="text-lg text-gray-500 font-semibold">{{ weekly_horoscope.prediction }}</dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}