{% extends "includes/base.html" %}
{% block title %} Account | Password Changed  {% endblock %}
{% block content %}
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="w-full relative flex flex-col lg:flex-row gap-4 h-auto items-center justify-center p-12">
        <div class="w-full mx-auto mt-12 bg-white p-6 rounded shadow">
            <h2 class="text-xl text-center font-bold mb-4">Password Changed Successfully</h2>
            <p class="mb-4 text-center">Your password has been updated. You can now use your new password to
                log in.</p>
            <div class="text-center mt-6">
                <a href="{% url 'auth.login' %}"
                    class="cursor-pointer bg-black text-white active:bg-slate-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                    login
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}