{% extends "includes/base.html" %}
{% block title %}  Account | Password Change {% endblock %}
{% block content %}
<main >
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex flex-col lg:flex-row gap-4 h-auto items-center justify-between p-4">
            <div class="md:flex w-full">
                {% include 'dashboard/sidebar.html' %}
                <div
                    class="w-full space-y-4 px-6  shadow-blue-100 hover:shadow-lg hover:shadow-blue-500 text-medium rounded-lg">
                    <div class="rounded-lg p-6">
                        <h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white border-b border-gray-200">Change Your Account Password</h3>
                        <form id="password_change_form" method="POST" action="{% url 'password_change' %}" data-parsley-validate>
                            {% csrf_token %}
                            <ul class="space-y-6">                
                                <li class="w-7/9">
                                    {% include "fields/password_field.html" with label="Current Password" name="old_password" %}
                                </li>
                        
                                <li class="w-7/9">
                                   {% include "fields/password_field.html" with label="New Password" name="new_password1" show_rules=True %}
                                </li>

                                <li class="w-7/9">
                                   {% include "fields/password_field.html" with label="New Password" name="new_password2" %}
                                </li>
                              
                                <li class="w-7/9">
                                    {% if show_captcha %} {% include 'fields/captcha_custom.html' %} {% endif %}
                                </li>

                                <li class="w-7/9">
                                    <div class="flex justify-between items-center">
                                        {% include 'fields/submit_button.html' with value='Change Password' %}
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}