{% extends "includes/base.html" %}
{% block title %}AstroLive | Forget Password{% endblock %}
{% block content %}
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex flex-col lg:flex-row gap-4 h-auto items-center justify-center p-12">
        <div class="w-full lg:w-6/12 p-8">
            <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-slate-200 border-0">

                <div class="mt-4 px-4 lg:px-10 py-10">
                    <div class="text-slate-400 text-center mb-3 font-bold">
                        <span class="text-2xl">Forget Your Password?</span>
                    </div>
                    <form id="forget_password" class="mt-6" method="POST" action="{% url 'password_reset' %}"
                        data-parsley-validate>
                        {% csrf_token %}
                        {% include 'fields/email_field.html' with label='Email' name='email' %}
                        {% if show_captcha %}
                        {% include 'fields/captcha_custom.html' %}
                        {% endif %}
                        {% include 'fields/submit_button.html' with value='Send Link' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}