{% extends "includes/base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex flex-col lg:flex-row gap-4 h-auto items-center justify-center p-12">
        <div class="w-full lg:w-6/12  p-2 lg:p-8">
            <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-slate-200 border-0">
                <div class="mt-6 flex-auto px-4 lg:px-10 py-10 pt-0">
                    <div class="text-slate-400 text-center mb-3 font-bold">
                        <small>Sign up with credentials</small>
                    </div>

                    <form id="register_form" method="POST" action="{% url 'auth.register' %}" class="mt-6"
                        data-parsley-validate>
                        {% csrf_token %}

                        <div class="relative w-full flex flex-row gap-4">
                            {% include 'fields/name.html' with label='First Name' name='first_name' %}
                            {% include 'fields/name.html' with label='Last Name' name='last_name' %}
                        </div>

                        {% include 'fields/email_field.html' with label='Email' name='email' %}
                        {% include 'fields/birth_date.html' %}
                        {% include 'fields/gender.html' %}

                        <div class="relative w-full flex flex-row gap-4">

                            {% include 'fields/password_field.html' with label="Password" name="password" %}
                            {% include 'fields/password_field.html' with label="Confirm Password" name="confirm_password" %}

                        </div>

                        {% include 'fields/captcha_custom.html' %}
                        {% include 'fields/term_field.html' %}
                        {% include 'fields/submit_button.html' with value='Create Account' %}

                    </form>
                </div>
            </div>
            <div class="flex flex-wrap mt-6 relative">
                <div class="w-full">
                    <a href="{% url 'auth.login' %}" class="text-sm text-slate-400">
                        Already have an account? Click here to Login.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}