{% extends 'admin_panel/base.html' %}

{% block title %}Edit {{ user.username }} - Astro Admin Panel{% endblock %}

{% block content %}
<div class="min-h-screen w-full mx-auto p-2">
  
    <div class="mb-6">
        <h2 class="text-2xl font-semibold text-white">Edit User Information</h2>
        <p class="text-sm text-gray-100">Update details of {{user.username}} profile</p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6">
        
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-xl font-semibold text-gray-800">Edit User</h2>
            <a href="{% url 'admin_panel:admin_user_detail' user.id %}" class="text-indigo-600 hover:text-indigo-900">
                <i class="fas fa-arrow-left mr-2"></i>Back to User
            </a>
        </div>

        <form method="POST" action="{% url 'admin_panel:admin_user_edit'  user.id %}"  class="space-y-6">
            {% csrf_token %}
           
            <!-- Personal Information -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700">First Name</label>
                    <input type="text" readonly disabled name="first_name" value="{{ user.first_name }}" class="mt-1 p-2 bg-gray-100 block text-gray-700 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Last Name</label>
                    <input type="text" readonly disabled name="last_name" value="{{ user.last_name }}" class="mt-1 p-2 bg-gray-100 block w-full text-gray-700 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" readonly disabled name="email" value="{{ user.email }}" class="mt-1 p-2 bg-gray-100 block w-full text-gray-700 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Username</label>
                    <input type="text" readonly disabled name="username" value="{{ user.username }}" class="mt-1 p-2 bg-gray-100 block text-gray-700 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                </div>
            </div>

            <!-- Contact Information -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700">Phone Number</label>
                    <input type="tel" name="cell" disabled value="{{ user.cell }}" readonly class="mt-1 block bg-gray-100 p-2 w-full text-gray-700 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Birth Place</label>
                    <input type="text" name="birth_place" disabled value="{{ user.birth_place }}" readonly class="mt-1 p-2  bg-gray-100 text-gray-700 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                </div>
            </div>

            <!-- Birth Details -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700">Birth Date</label>
                    <input type="date" name="birth_date"  disabled readonly value="{{ user.birth_date|date:'Y-m-d' }}" class="mt-1 bg-gray-100 p-2 text-gray-700 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Birth Time</label>
                    <input type="time" name="birth_time" disabled readonly value="{{ user.birth_time|time:'H:i' }}" class="mt-1 bg-gray-100 p-2 text-gray-700 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Gender</label>
                    <select name="gender" disabled readonly class="mt-1 bg-gray-100 block w-full rounded-md border-gray-300 p-2 text-gray-700 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                        <option value="Male" {% if user.gender == 'Male' %}selected{% endif %}>Male</option>
                        <option value="Female" {% if user.gender == 'Female' %}selected{% endif %}>Female</option>
                        <option value="Other" {% if user.gender == 'Other' %}selected{% endif %}>Other</option>
                    </select>
                </div>
            </div>

            <!-- Preferences -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700">Language Preference</label>
                    <select name="language_preference" disabled readonly class="mt-1 bg-gray-100 block w-full rounded-md border-gray-300 p-2 text-gray-700 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                        <option value="English" {% if user.language_preference == 'English' %}selected{% endif %}>English</option>
                        <option value="Hindi" {% if user.language_preference == 'Hindi' %}selected{% endif %}>Hindi</option>
                    </select>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Time Format</label>
                    <select name="time_format" disabled readonly class="mt-1 bg-gray-100 block text-gray-700 w-full rounded-md p-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                        <option value="AM" {% if user.time_format == 'AM' %}selected{% endif %}>AM/PM</option>
                        <option value="24" {% if user.time_format == '24' %}selected{% endif %}>24 Hour</option>
                    </select>
                </div>
            </div>

            <!-- Status and Permissions -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700">Account Status</label>
                    <div class="mt-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" name="is_active" {% if user.is_active %}checked{% endif %} class="p-2 rounded text-gray-700 border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                            <span class="ml-2 text-gray-700">Active</span>
                        </label>
                    </div>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">User Role</label>
                    <div class="mt-2 space-y-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" name="is_admin" {% if user.is_admin %}checked{% endif %} class="rounded p-2 text-gray-700 border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                            <span class="ml-2 text-gray-700">Admin</span>
                        </label>
                        <label class="inline-flex items-center">
                            <input type="checkbox" name="is_staff" {% if user.is_staff %}checked{% endif %} class="rounded p-2 text-gray-700 border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
                            <span class="ml-2 text-gray-700">Staff</span>
                        </label>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="flex justify-end">
                <button type="submit" class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
