{% extends 'admin_panel/base.html' %}

{% block title %}Users - Astro Admin Panel{% endblock %}

{% block content %}
<div class="min-h-screen w-full p-2">
    <div class="mb-6">
        <h2 class="text-2xl font-semibold text-white">Users List</h2>
        <p class="text-sm text-gray-100">Overview of {{APP_NAME}}'s users</p>
    </div>

    <div class="bg-white rounded-lg flex flex-row justify-end items-center shadow-md p-4 mb-6">
        <form method="GET" action="{% url 'admin_panel:admin_users' %}" class="flex items-center space-x-4">
            {% csrf_token %}
            {% include 'admin_panel/fields/search.html' with name="search" value=request.GET.search %}
            {% include 'admin_panel/fields/select.html' with name="role" options=role_choices selected=request.GET.role %}
            {% include 'admin_panel/fields/select.html' with name="status" options=status_choices selected=request.GET.status %}
            {% include 'admin_panel/fields/button.html' %}
        </form>
    </div>
    
    <div class="bg-white rounded-lg shadow-md p-2 overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead>
                <tr>
                    <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        User</th>
                    <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Status</th>
                    <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Role</th>
                    <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Joined</th>
                    <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for user in users %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                            <div class="flex-shrink-0 h-10 w-10">
                                {% if user.profile_picture %}
                                <img class="h-10 w-10 rounded-full" src="{{ user.profile_picture }}"
                                    alt="{{ user.first_name }}">
                                {% else %}
                                <i class="fa fa-user w-5 h-5"></i>
                                {% endif %}
                            </div>
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">{{ user.username }}</div>
                                <div class="text-sm text-gray-500">{{ user.email }}</div>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span
                            class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {% if user.is_active %}bg-green-100 text-green-800{% else %}bg-red-100 text-red-800{% endif %}">
                            {{ user.is_active|yesno:"Active,Inactive" }}
                        </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {% if user.is_superuser %}
                        Superuser
                        {% elif user.is_admin %}
                        Admin
                        {% elif user.is_staff %}
                        Staff
                        {% else %}
                        User
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {{ user.date_joined|date:"M d, Y" }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <a href="{% url 'admin_panel:admin_user_detail' user.id %}"
                            class="text-blue-500 hover:text-indigo-900 mr-3"><i class="fa fa-eye" area-hidden="true"></i></a>
                        <a href="{% url 'admin_panel:admin_user_edit' user.id %}"
                            class="text-blue-500 hover:text-yellow-900"><i class="fa fa-edit" area-hidden="true"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Pagination -->
    <div class="mt-4 flex justify-between items-center">
        <div class="text-sm text-gray-500">
            Showing {{ users.start_index }} to {{ users.end_index }} of {{ users.paginator.count }} entries
        </div>
        <div class="flex space-x-2">
            {% if users.has_previous %}
            <a href="?page={{ users.previous_page_number }}"
                class="px-3 py-1 rounded-md bg-gray-100 text-gray-700 hover:bg-gray-200">
                Previous
            </a>
            {% endif %}
    
            {% for num in users.paginator.page_range %}
            <a href="?page={{ num }}"
                class="px-3 py-1 rounded-md {% if num == users.number %}bg-indigo-600 text-white{% else %}bg-gray-100 text-gray-700 hover:bg-gray-200{% endif %}">
                {{ num }}
            </a>
            {% endfor %}
    
            {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}"
                class="px-3 py-1 rounded-md bg-gray-100 text-gray-700 hover:bg-gray-200">
                Next
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
