{% extends "includes/base.html" %}
{% load custom_filters %}
{% block title %} Dashboard | Your Activities {% endblock %}
{% block content %}
<main class="h-screen">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex flex-col lg:flex-row gap-4 h-auto items-center justify-between p-4">
            <div class="md:flex w-full">
                {% include 'dashboard/sidebar.html' %}
                <div
                    class="space-y-4 w-full  rounded-2xl p-4 ring-1 ring-gray-900/10 sm:p-4">
                    <h2 class="text-xs text-gray-700 uppercase dark:text-gray-400">Your Recent 10 Activities</h2>
                    {% if activities.count > 0 %}
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="p-2">Activity Type</th>
                                    <th scope="col" class="p-2">Ip Address</th>
                                    <th scope="col" class="p-2">Browser</th>
                                    <th scope="col" class="p-2">System</th>
                                    <th scope="col" class="p-2">Device</th>
                                    <th scope="col" class="p-2">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for activity in activities %}
                                <tr
                                    class="border-b dark:border-gray-700 border-gray-200">
                                    <td scope="row" class="p-2">{{activity.activity_type|replace:"_, "}}</td>
                                    <td class="p-2">{{activity.ip_address}}</td>
                                    <td class="p-2">{{activity.browser}} {{activity.browser_version}}</td>
                                    <td class="p-2">{{activity.os}} {{activity.os_version}}</td>
                                    <td class="p-2">{{activity.device_brand}} {{activity.device_model}}</td>
                                    <td class="p-2">{{activity.action_date_time}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                   
                    {% else %}
                    <p class="text-gray-400">No Recent Activity found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}