@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.errorlist{
    color: red;
}

:root {
    --color-hcolor: #140b29;
    --color-secondary: #2b2752;
    --color-newsletter: #231b41;
    --color-heading-1: #fffef8;
    --color-heading-2: #fefbff;
    --color-heading-3: #c3bbeb;
    --color-card-background: #2c204e;
    --color-btn-background: #6670f6;
    --color-btn-text: #fbefff;
    --color-bgcard: rgba(22, 125, 255, 0.3); 
    --color-navbar:#180715;
}
    
body {
    margin: 0;
    padding: 0;
    background: #150d28;
    font-family: 'Inter', sans-serif;
    color: white;
}


.nav-item {
    font-family: Greycliff, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    letter-spacing: .04em;
    opacity: .5;
    transition: opacity .15s;
}

.nav-item:hover{
    text-decoration: underline;
    opacity: 1 !important;
}

.hero {
     padding: 5rem 2rem;
     text-align: center;
}

.hero-title {
     font-size: 4rem;
     font-weight: 800;
     letter-spacing: -0.05em;
     line-height: 1.1;
     opacity: 0;
     transform: translateY(50px);
}

.hero-subtitle {
     font-size: 1.5rem;
     font-weight: 400;
     margin-top: 1.5rem;
     opacity: 0;
     transform: translateY(30px);
}