{% extends "includes/base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<main>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
       <div class="relative flex flex-col lg:flex-row gap-4 h-auto items-center justify-between p-4">
            <div class="md:flex w-full">
                {% include 'dashboard/sidebar.html' %}
                <div class="space-y-4 px-6 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">
                    {% if subscription and subscription.plan %}
                        <div class="w-full space-y-4">
                            <div
                                class="space-y-4  rounded-2xl shadow-lg shadow-blue-100 hover:shadow-lg hover:shadow-blue-500 bg-white p-8 ring-1 shadow-2xl ring-gray-900/10 sm:p-10">
                            
                                <div class="flex flex-row justify-between">
                                    <div>
                                        <h3 id="tier-enterprise" class="text-3xl font-semibold text-gray-900">Your Active Subscription ({{subscription.plan.name }})</h3>
                                    </div>
                                    <div>
                                        <span class="text-3xl font-semibold tracking-tight text-gray-600">₹{{ subscription.plan.price }}</span>
                                    </div>
                                </div>
                            
                                <p class="text-sm text-gray-600 mt-2">
                                    Valid from {{ subscription.start_date|date:"d M Y" }} to {{ subscription.end_date|date:"d M Y" }}
                                </p>
                                <p class="mt-6 text-base/7 text-gray-600">{{subscription.plan.description}}</p>
                                <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-600 sm:mt-10">
                                    {% for feature in subscription.plan.features.all %}
                                    <li class="flex gap-x-3">
                                        <svg class="h-6 w-5 flex-none text-gray-900" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true" data-slot="icon">
                                            <path fill-rule="evenodd"
                                                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        {{feature.name}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="w-full space-y-4 flex flex-row justify-between">
                            <div class="p-2">Your Last Login Activty: {{ request.user.last_login }}</div>
                            <div class="p-2">
                                    <form action="{% url 'auth.logout' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit"
                                            class="inline-flex gap-2 items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 hover:bg-gray-800 cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                                                <polyline points="16 17 21 12 16 7" />
                                                <line x1="21" y1="12" x2="9" y2="12" />
                                            </svg>
                                            Logout
                                          
                                        </button>
                                    </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="w-full flex flex-col space-y-2 justify-between">
                            
                            <div class="p-2 flex-grow">
                                <p class="text-gray-400">No active subscription found.</p>
                            </div>
                            <div class="flex flex-row justify-between">
                                <div class="p-2">Your Last Login Activty: {{ request.user.last_login }}</div>

                                <div class="p-2">
                                    <form action="{% url 'auth.logout' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit"
                                            class="inline-flex items-center gap-2 px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 hover:bg-gray-800 cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                                                <polyline points="16 17 21 12 16 7" />
                                                <line x1="21" y1="12" x2="9" y2="12" />
                                            </svg>
                                            Logout
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>      
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}